* {
  box-sizing: border-box;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
  overflow: hidden;
}
